#--------------------------#
# Eggplant Default         #
#--------------------------#

.DS_Store
.timestamp
*.suite/Results/
/Results/
*.timestamp
SearchObjects
Features
Results
Sessions
TableScripts
/SearchObjects
config.json
